<div class="p-5 mb-4 bg-light rounded-3">
  <h1 class="display-4"> <%= @friend.first_name %> <%= @friend.last_name %> </h1>

  <p class="lead">
    <%= icon('far', 'envelope', class:"me-2")  + " " + @friend.email %> <br/>
    <%= icon('fas', 'phone-alt', class:"me-2") + " " + @friend.phone %> <br/>
    <%= icon('fab', 'twitter', class:"me-2")   + " " + @friend.twitter %> 
  </p>

</div>

<br/>
<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary btn-sm" %>
<%= link_to 'Back', friends_path, class:"btn btn-dark btn-sm" %>